html {
    height: 100%;
}

body {
    margin: 0;
    /*display: grid;*/
    height: 100%;
}

.bold {
    font-weight: bold;
}

.view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #262626;
    padding: 10px;
}

.brand-text {
    color: white;
    font-family: arial, helvetica, sans-serif;
}

.flex-box {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.state-container {
    border-color: #63D6D5;
    border-style: dashed;
    padding: 60px;
    /*height: 420px;*/
    width: 100%;
    text-align: center;
}

.navbar {
    width: 100%;
    background-color: #D66364;
    text-align: center;
    position: relative;
}

.site-name {
    display: inline-block;
    margin: 10px;
}

.site-name p {
    margin: 0;
}

#fictr {
    font-size: 3em;
}

#slogan {
    font-size: 1em;
    font-style: italic;
    float: right;
}

.state-box {
    display: inline-block;
    text-align: center;
    margin: auto;
}

.controls-container {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    align-content: flex-start;
    flex-direction: row;
}

#upload-button {
    margin: 4px;
    flex-direction: row;
}

#progress-wrapper {
    flex: 0 0 100%;
    text-align: center;
    margin: 4px;
    flex-direction: row;
}

#upload-progress {
    margin: 4px;
}

.upload-error {
    color: red;
}

#image-preview {
    display: block;
    margin: 5px auto;
    max-height: 200px;
    border: 1px solid #000;
}

#image-description {
    display: block;
    text-align: center;
    margin: 20px 0 0 0;
}

.hidden {
    display: none !important;
}
