html {
    height: 100%;
}

body {
    margin: 0;
    /*display: grid;*/
    height: 100%;
}

.bold {
    font-weight: bold;
}

.off {
    display: none;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    background-color: #262626;
    padding: 10px;
    align-content: flex-start;
}

.brand-text {
    color: white;
    font-family: arial, helvetica, sans-serif;
}

.upload-container {
    border-color: #63D6D5;
    border-style: dashed;
    height: 30%;
    padding: 60px;
    text-align: center;
    flex: 0 0 50%;
}

.navbar {
    width: 100%;
    background-color: #D66364;
    text-align: center;
    position: relative;
}

.site-name {
    display: inline-block;
    margin: 10px;
}

.site-name p {
    margin: 0;
}

#fictr {
    font-size: 3em;
}

#slogan {
    font-size: 1em;
    font-style: italic;
    float: right;
}

#waiting-state {
    display: inline-block;
    text-align: center;
    margin: auto;
}

#upload-wrapper {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    align-content: flex-start;
    flex-direction: row;
}

#upload-button {
    margin: 4px;
    flex-direction: row;
}

#progress-wrapper {
    flex: 0 0 100%;
    text-align: center;
    margin: 4px;
    flex-direction: row;
}

#upload-progress {
    margin: 4px;
}
